{% extends "../layouts/base.twig" %}
{% block style%}
<link rel="stylesheet" href="/css/main.css">
{% endblock%}

{% block main %}
	<main>
		<section id="intranet">
			<h2>Intranet de
				{{ employe.email }}</h2>
			<div class="inputCss">
				<div class="employe"></div>
				<a href="">Crée une tache</a>
			</div>
		</section>


	</main>
{% endblock %}
